In [4]:
import pandas as pd
import numpy as np
from pathlib import Path

In [1]:
print("hello")

hello

# Olympics data set

In [5]:
file_path = Path().cwd() / "data-sets" / "olympics.csv"
if file_path.exists():
    print("file exists")

file exists

In [39]:
def read():
    df = (
        pd.read_csv(file_path, skiprows=[0])
        .rename(columns={
            'Unnamed: 0': 'country',
            '? Summer': 'summer_olympics',
            '01 !': 'summer_golds',
            '02 !': 'summer_silvers',
            '03 !': 'summer_bronzes',
            'Total': 'summer_total',
            '? Winter': 'winter_olympics',
            '01 !.1': 'winter_golds',
            '02 !.1': 'winter_silvers',
            '03 !.1': 'winter_bronzes',
            'Total.1': 'winter_total',
            '? Games': 'total_games',
            '01 !.2': 'total_golds',
            '02 !.2': 'total_silvers',
            '03 !.2': 'total_bronzes',
            'Combined total': 'combined_total',
            }
            )
    )
    return df

olympics = read()

## Slicing in olympics

**Why should we use `loc`?**
- It can do everything that `.` ir `[]` can do
- It's more explicit
- It is more reliable
- It is more flexible
- It is more likely to be faster
- It is easier to debug

In [60]:
olympics.loc[ olympics.loc[:,"summer_olympics"] == 13 , "country":"summer_total" ]

,country,summer_olympics,summer_golds,summer_silvers,summer_bronzes,summer_total
0,Afghanistan (AFG),13,0,0,2,2
20,Cameroon (CMR),13,3,1,1,5
34,Dominican Republic (DOM),13,3,2,1,6
35,Ecuador (ECU),13,1,1,0,2
48,Ghana (GHA) [GHA],13,0,1,3,4
52,Guatemala (GUA),13,0,1,0,1
61,Iraq (IRQ),13,0,0,1,1
68,Kenya (KEN),13,25,32,29,86
85,Morocco (MAR),13,6,5,11,22
89,Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1
109,Senegal (SEN),13,0,1,0,1
123,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21
130,Tunisia (TUN),13,3,3,4,10

# Exploring University Towns data set